<!-- recipes.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Recipe Website</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/recipes">Recipes</a></li>
    </ul>
  </nav>
  <h1>Recipes</h1>
  <% recipes.forEach(function(recipe) { %>
    <div class="recipe">
      <h3><%= recipe.name %></h3>
      <ul>
        <% recipe.ingredients.forEach(function(ingredient) { %>
          <li><%= ingredient %></li>
        <% }); %>
      </ul>
    </div>
  <% }); %>
  <footer>&copy; 2023 Recipe Website</footer>
</body>
</html>